.login{
    width: 100vw;
    height: 100vh;
    background-color: #369;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 500px;
        border: 1px solid #fff;
        padding-top: 20px;
    }
    
}
.center{ 
    text-align: center;
}
